* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1A2551;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}

header {
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
}

.header-bg {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: top;
    opacity: 0.7;
    position: absolute;
    top: 0;
    z-index: -1;
}

.logo {
    display: flex;
    flex-direction: column;
    width: 80px;
    height: 80px;
    z-index: 1;
    margin: 0 auto;
    padding: 5px;
    left: 15px;
    top: 10px;
    position: absolute;
    align-items: center;
    justify-content: center;
}
.logo-profile {
    background-color: white;
    width: 65px;
    height: 65px;
    border-radius: 50%;
}
.logo-name {
    width: 100%;
    height: 15px;
    margin: auto 0;
    color: white;
    font-size: 50%;
    text-align: center;
}

.contact {
    display: flex;
    flex-direction: column;
    width: 130px;
    height: 80px;
    margin: 0 auto;
    padding: 10px;
    left: 110px;
    top: 10px;
    position: absolute;
}
#header-topic {
    color: white;
    font-size: 70%;
}
.contact ul {
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.contact ul li {
    padding: 3px;
    list-style-type: none;
    font-size: 50%;
}
.contact ul li a {
    cursor: pointer;
    text-decoration: none;
}

.follow {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 80px;
    margin: 0 auto;
    padding: 10px;
    left: 255px;
    top: 10px;
    position: absolute;
}
.follow ul {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.follow ul li {
    padding: 3px;
    list-style-type: none;
    font-size: 80%;
}
.follow ul li a {
    color: white;
    cursor: pointer;
    text-decoration: none;
    margin: 0 auto;
    padding: 0 2px 0 0 ;
}



/* nav {
    background-color: #323142;
    height: 80px;
    display: flex;
    flex-direction: row;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    position: relative;
}
nav ul {
    display: flex;
    justify-content: center;
    width: 100%;
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    font-size: 100%;
    cursor: pointer;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
nav ul li a {
    text-decoration: none;
    color: #bbbbbb;
} */

main {
    padding: 3%;
    background-color: white;
    height: auto;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    color: #1A2551;
    font-size: 26px;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.left {
    max-width: 65%;
    height: 100%;
}
.right {
    max-width: 35%;
    height: 100%;
}

#section-about {
    background-color: #a58784;
}
#section-about p {
    text-align: start;
}

#section-education {
    background-color: #79799c;
}

#section-education p {
    text-align: start;
}

#section-experience {
    background-color: #765c6e;
}

#section-experience p {
    text-indent: 3%;
}

#section-skills {
    background-color: slategrey;
    width: 100%;
    height: 60%;
}

#section-skills ul {
    justify-content: left;
    width: auto;
    list-style-type: none;
}

#section-hobbies {
    background-color: #bbbbbb;
    width: 100%;
    height: 40%;
}
#section-hobbies h3 {
    width: 100%;
    font-size: 100%;
}

#section-hobbies ul {
    display: flex;
    flex-direction: column ;
    list-style-type: none;
}
#section-hobbies ul li  {
    display: flex;
    flex-direction: row;
}
.icon {
    margin: 0 10px 0 0;
}
.icon-name {
    margin: 5px ;
}

footer {
    margin: 0 auto;
    padding: 0;
    background-color: #323142;
    color: #bbbbbb;
    width: 100%;
}