* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1A2551;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}

header {
    background-color: #1a1a1f;
    width: 100%;
    height: 500px;
}
header h3 {
    position: absolute;
    z-index: 1;
    color: #bbbbbb;
    margin: 0 auto;
    padding: 0.5rem;
    font-size: 70%;
}

header img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;
    position: relative;
}

nav {
    background-color: #323142;
    height: 80px;
    display: flex;
    flex-direction: row;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    position: relative;
}
nav ul {
    display: flex;
    justify-content: center;
    width: 100%;
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    font-size: 100%;
    cursor: pointer;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
nav ul li a {
    text-decoration: none;
    color: #bbbbbb;
}

main {
    padding: 2rem;
    background-color: white;
    height: 100vh;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    color: #1A2551;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 90vh;
}

section {
    width: 50%;
    height: 25%;
}

#section-about {
    background-color: #a58784;
    width: 100%;
    height: 50vh;
}
#section-about p {
    text-align: start;
}

#section-education {
    background-color: #79799c;
    width: 100%;
    height: 50vh;
}

#section-education p {
    text-align: start;
}

#section-experience {
    background-color: #765c6e;
    width: 100%;
    height: 30vh;
}

#section-experience p {
    text-indent: 10px
}

#section-skills {
    background-color: slategrey;
    width: 100%;
    height: 50vh;
}

#section-skills ul {
    justify-content: left;
    width: auto;
    list-style-type: none;
}

#section-other {
    background-color: #bbbbbb;
    width: 100%;
    height: 50vh;
}

footer {
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    justify-content: center;
    background-color: #323142;
    color: #bbbbbb;
}

@media screen and (max-width:480px) {
    header {
        height: 250px;
    }

    header img {
        width: 100%;
        height: auto;
    }

    nav {
        height: 40px;
        padding: 1rem;
    }

    nav ul li {
        font-size: 50%;
    }

    main {
        padding: 1rem;
        height: auto;
    }

    section {
        padding: 0.5rem;
    }
    
    section div p {
        font-size: 50%;
    }

    #section-about {
        height: 20vh;
    }
    #section-education {
        height: 15vh;
    }

    #section-experience {
        height: 30vh;
    }

    #section-skills {
        height: 50vh;
    }
    #section-other {
        height: 30vh;
    }

    footer {
        height: 30px;
        padding: 0.5rem;
    }
    footer h3 {
        font-size: 70%;
    }
}