.container-menu {
    background-color: white;
    width: 100%;
    height: 100px;
    word-spacing: 30px;
    text-align: center;
    line-height: 6;
    position: relative;
    
}

.container-menu a {
    text-decoration: none;
    color: black;
}